body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('./img/dance_floor.jpg');
  background-size: 100% 100%;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.blinky{
  border:10px solid blue;
}
.square{
  width: 125px;
  height: 75px;
  background-image: url('./img/nyan_cat.png');
  background-size: 100% 100%;
  border-radius:0;
  border:none;
}
.squareMove{
  -webkit-transform: translate(0, 10px);
}
.rectangle{
  width: 110px;
  height: 120px;
  background-image: url('./img/jigglypuff.png');
  background-size: 100% 100%;
  border-radius:0;
  border: none;
}
.rectangleMove{
  -webkit-transform: rotate(360deg);
  /*-webkit-transition: -webkit-transform 2s;*/
}
